*
{
    margin: 0;
    padding: 0;
}

body {
    background: url(images/backgroundImage.jpg) black top center no-repeat fixed;
}

.container-md {
    background-color: rgb(187, 238, 159);
}

header {
    font: bold 1.750em/2em Georgia, 'Times New Roman', Times, serif;
    color: rgb(97, 75, 163);
    background-color: rgb(142, 184, 207);
    border: solid medium #7F6BBA;
    margin-bottom: 10px;
}

/* Navbar Links */
nav {
    background-color: rgb(127, 107, 187);
    margin-bottom: 10px;
}

nav li {
    padding-right: 40px;
}

.nav-link{
    color: rgb(184, 237, 159);
}

.nav-link.active {
    color: rgb(184, 237, 159);
}

nav a:visited {
    color: rgb(184, 237, 159);
}

.nav-item :hover {
    color: rgb(153, 225, 118);
    text-decoration: underline;
}

/* Home Page Side Links */
#links a:link {
    color: rgb(55, 33, 120);
    text-decoration: none;
}

#links a:visited{
    color: rgb(55, 33, 120);
}

#links a:hover {
    color: rgb(74, 51, 142);
}

#links a:active{
    color: rgb(55, 33, 120);
}


form{
    background-color: rgb(187, 238, 159);
}

#form {
    background-color: rgb(187, 238, 159);
}

.col-lg-3 {
    background-color: rgb(64, 120, 150);
    border: rgb(187, 238, 159) solid;
    float: left;
}

.col-lg-9 {
    font-size: .875em;
    background-color: rgb(64, 120, 150);
    border: rgb(187, 238, 159) solid;
    float: right;
}

h3 {
    font-size: 1.5em;
    color: rgb(156, 226, 118);
}

p {
    font-size: 1em;
    color: rgb(168, 153, 214);
}

img {
    float: right;
    margin: 10px;
}

ul{
    font-weight: bold;
    list-style-type: none;
    color: rgb(97, 182, 52);
}

table{
    border: solid 2px black;
    border-collapse: collapse;
}

tr, td, th{
    border: solid 2px ;
    width: 135px;
    padding: 3px;
    text-align: center;
}
th{
    background-color: #614BA3;
    color: #99E176;
}

td{
    color:#5EB533;

}

caption{
    caption-side: top;
    color: #99E176;
}

#gameDescription {
    background-color: rgb(64, 120, 150);
    float: right;
}

#gameSection {
    font-size: 1em;
    font-style: italic;
}

.gameNames {
    color:rgb(184, 237, 159);
    font-style: italic;
}

footer {
    background-color: rgb(43, 103, 135);
    color: rgb(55, 33, 121);
    padding: 10px;
    clear: both;
}

/* Palette URL: http://paletton.com/#uid=53t0N0kjntFa-Kwfi-vmVqiqem0 */

/* As rgb codes */

.color-primary-0 { color: rgb(64, 120, 150) }	/* Main Primary color */
.color-primary-1 { color: rgb(140, 183, 207) }
.color-primary-2 { color: rgb(97, 148, 176) }
.color-primary-3 { color: rgb(43, 103, 135) }
.color-primary-4 { color: rgb(26, 82, 112) }

.color-secondary-1-0 { color: rgb(96, 74, 163) }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: rgb(168, 153, 214) }
.color-secondary-1-2 { color: rgb(127, 107, 186) }
.color-secondary-1-3 { color: rgb(74, 51, 142) }
.color-secondary-1-4 { color: rgb(55, 33, 120) }

.color-secondary-2-0 { color: rgb(122, 205, 81) }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: rgb(185, 237, 161) }
.color-secondary-2-2 { color: rgb(153, 224, 117) }
.color-secondary-2-3 { color: rgb(93, 179, 50) }
.color-secondary-2-4 { color: rgb(70, 153, 28) }

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */