*
{
    margin: 0;
    padding: 0;
}

body {
    background: url(images/backgroundImage.jpg) black top center no-repeat fixed;
}

#container {
    width: 960px;
    margin: 0 auto;
    background-color: rgb(187, 238, 159);
}

header {
    font: bold 1.875em/2em Georgia, 'Times New Roman', Times, serif;
    color: rgb(97, 75, 163);
    height: 100px;
    width: 910px;
    padding: 22px;
    background-color: rgb(142, 184, 207);
    margin-bottom: 10px;
    border: solid medium #7F6BBA;
}

nav {
    width: 940px;
    background-color: rgb(127, 107, 187);
    padding: 10px;
    margin-bottom: 10px;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-right: 40px;
}

nav a:link {
    color: rgb(184, 237, 159);
    text-decoration: none
}

nav a:visited {
    color: rgb(184, 237, 159);
}

nav a:hover {
    color: rgb(153, 225, 118);
    text-decoration: underline;
}

nav a:active {
    color: rgb(94, 181, 51);
}

aside {
    width: 210px;
    height: 500px;
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: rgb(96, 147, 175);
    float: left;
}

section {
    font-size: .875em;
    width: 700px;
    height: 500px;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: rgb(96, 147, 175);
    float: right;
}

h3 {
    font-size: 1.5em;
    color: rgb(156, 226, 118);
}

p {
    font-size: 1em;
    color:rgb(184, 237, 159);
    color: rgb(97, 182, 52);
}

img {
    float: right;
    margin: 10px;
}

ul{
    font-weight: bold;
    list-style-type: none;
    color: rgb(97, 182, 52);
}

table{
    border: solid 2px black;
    border-collapse: collapse;
}

tr, td, th{
    border: solid 2px ;
    width: 135px;
    padding: 3px;
    text-align: center;
}
th{
    background-color: #614BA3;
    color: #99E176;
}

td{
    color:#5EB533;

}

caption{
    caption-side: top;
    color: #99E176;
}
#gameDescription {
    background-color: rgb(96, 147, 175);
    width: 300px;
    height: 582px;
    margin: 0 10px 0 0;
    padding: 10px;
    float: right;
}

#gameSection {
    font-size: 1em;
    font-style: italic;
}

.gameNames {
    color:rgb(184, 237, 159);
    font-style: italic;
}

footer {
    background-color: rgb( 64, 120, 150);
    color: rgb(55, 33, 121);
    padding: 10px;
    clear: both;
}

/* Palette URL: http://paletton.com/#uid=53t0N0kjntFa-Kwfi-vmVqiqem0 */

/* As hex codes */

.color-primary-0 { color: #407896 }	/* Main Primary color */
.color-primary-1 { color: #8EB8CF }
.color-primary-2 { color: #6093AF }
.color-primary-3 { color: #2B6585 }
.color-primary-4 { color: #19516F }

.color-secondary-1-0 { color: #614BA3 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #A797D6 }
.color-secondary-1-2 { color: #7F6BBA }
.color-secondary-1-3 { color: #4B3490 }
.color-secondary-1-4 { color: #372179 }

.color-secondary-2-0 { color: #79CC51 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #B8ED9F }
.color-secondary-2-2 { color: #99E176 }
.color-secondary-2-3 { color: #5EB533 }
.color-secondary-2-4 { color: #44981B }

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */